@model _303TeamTest.Models.CustomerLogin
    @{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="~/Content/LoginStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />   
</head>
<body>
    <div class="div1">
        <div class="div2">
            <p class="p1">Management System</p>
        </div>
        <div class="div3">
            @using (Html.BeginForm("LoginIntoSystem", "Home", FormMethod.Post))
            {
                @Html.LabelFor(model => model.Login, new { @class = "labelfor" })
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "editorfor" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "validationmessagefor" })

                @Html.LabelFor(model => model.Password, new { @class = "labelfor" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "editorfor" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validationmessagefor" })

                <input type="submit" value="Log In" class="input1" />

                if (ViewBag.ErrorMessage != null)
                {
                    <label id="errorLabel"> @ViewBag.ErrorMessage</label>
                }

            }
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/LoginScript.js"></script>
</body>
</html>